$purple-header: #6236FF;
$purple-dark: #380EB0;
$grey-dark: #6E727D;
$blue-link: #5785E8;
$grey-light: #BFC4D1;
$white: #FFFFFF;
$font-primary: 'Roboto Slab', serif;
$font-secondary: 'Open Sans', sans-serif;

html {
    height: 100%;
    font-size: 100%;
}

h1 {
    font-family: $font-primary;
}

h3 {
    font-size: 1.125rem;
    margin: 0;
}

a {
    color: $blue-link;
}

body {
    display: flex;
    font-family: $font-secondary;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
    #intro-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem 0 0;
        width: 50%;
        height: 100%;
        background: radial-gradient(ellipse farthest-corner at 100% 50%, rgba(236,241,246,1) 0%, rgba(236,241,246,0) 70%);

        h1 {
            margin: 0;
        }
    }

    #secondary-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 1rem;

        form {
            width: 100%;
        }

        #results {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
                "your-text your-text"
                "polarity subjectivity";
            
                p {
                    margin-bottom: 0;
                }

                #your-text {
                    grid-area: your-text;
                    margin-bottom: 1.25rem;
                }

                #polarity {
                    grid-area: polarity;
                }

                #subjectivity {
                    grid-area: subjectivity;
                }
        }

    }
}

p {
    margin: 0 0 1rem 0;
    font-size: 0.875rem;
    color: $grey-dark;
}

#name {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid $grey-light;
    color: $grey-dark;
    font-size: 0.9rem;
    padding: 0 0.6rem 0 0.6rem;
    margin: 0;
    box-sizing: border-box;
}

#name::placeholder {
    color: $grey-light
}

#name:focus {
    outline: none;
}

#submit-button {
    background-color: $purple-header;
    padding: 0.68rem 3rem;
    color: $white;
    font-family: $font-primary;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    display: block;
}

#submit-button:focus {
    outline: none;
}

#submit-button:active {
    background-color: $purple-dark;
}

#divider {
    border-bottom: 1px solid $grey-light;
    margin: 1.25rem 0 0 0;
    display: block;
}

.subtitle {
    color: $grey-light;
}

#logo {
    color: $purple-header;
}